.trader-header-field {
    font-family: var(--font-primary), sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
}

.trader-header-label {
    font-family: var(--font-primary), sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--color-gray-500);

    margin-bottom: 8px;
}

@media (min-width: 600px) {
    .trader-header-field {
        font-family: var(--font-secondary), sans-serif;;
        font-size: 28px;
        line-height: 36px;
    }
}
